@import './styles/tailwind.css';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* .search .MuiAutocomplete-endAdornment{
  display: none;
} */
.search .css-vtjgih-MuiInputBase-root-MuiInput-root:before{
  display: none;
}
.Mui-focused:focus{
  outline: none
}
.css-vtjgih-MuiInputBase-root-MuiInput-root:after{
  border: none !important;
  outline: none !important;
}
.MuiAutocomplete-hasPopupIcon.css-1wuilmg-MuiAutocomplete-root .MuiAutocomplete-inputRoot{

padding: 0px 5px;
}
.css-1ulv39e-MuiInputBase-root-MuiInput-root-MuiSelect-root:after{
  border: none !important;
  outline: none !important;
}
.css-1ulv39e-MuiInputBase-root-MuiInput-root-MuiSelect-root:before{
  border-bottom: none !important;
}
.css-1rxz5jq-MuiSelect-select-MuiInputBase-input-MuiInput-input:focus{
  background-color: transparent !important;
}
.radius{
  border-top-right-radius: 8px !important;
  border-bottom-right-radius: 8px !important;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;

}

/* .css-o6ubl1-MuiInputBase-root-MuiInput-root-MuiSelect-root:after{
  border-bottom: 1px solid transparent !important;
} */
.css-o6ubl1-MuiInputBase-root-MuiInput-root-MuiSelect-root:hover::after {
  border-bottom: none !important;
}